<div>
  <h1>Filters</h1>
  <ul class="d-flex justify-content-between">
    <li>
      <select name="Region">
        <option value="">Select a region</option>
      </select>
    </li>
    <li>
      <select name="Option2">
        <option value="">Select an option</option>
      </select>
    </li>
    <li>
      <select name="Option3">
        <option value="">Select an option</option>
      </select>
    </li>
    <li>
      <input type="text" name="Input1" placeholder="Enter text">
    </li>
    <li>
      <input type="text" name="Input2" placeholder="Enter text">
    </li>
    <li>
      <input type="text" name="Input3" placeholder="Enter text">
    </li>
  </ul>
</div>
