<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="#">Ocean Data Explorer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-light" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Ocean Conditions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#" id="navbar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Endagered Species
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled text-light" href="#">Conservation Projects</a>
      </li>
    </ul>
  </div>
</nav>


<app-regiao></app-regiao>

<app-filter></app-filter>
